#clone {
    display: none;
}
#recomended{

    background : #ffffff;
    text-align: center;
    border: 0px solid #95a5a6;
    border-radius: 10px;
}
/*#tabl{*/
    /*float: left;*/
/*}*/
#sbody{
    width: 100%;
    padding-top: 25px;
}
#sbody, #recomended{
    min-height: 500px;
}
#page ul{
    margin: 0 auto;
}
@media screen and (max-width: 768px)
{
    #recomended{
    display:none;
}
    #tabl{
        width:100%;
    }
}
@media screen and (min-width: 992px){
    #recomended{
        margin-left: 20px;
    }
    #recomended li p{
        height: 40px;
        padding-top: 8px;bottom: 20px;
    }
}
@media screen and (max-width: 992px){
    #recomended li p{
        height: 50px;
        padding-top: 4px;
        bottom: 13px;
        font-size: 12px;
    }
}

.tabl{
    min-height: 500px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
}
#tbody tr{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #bfbfbf;
    height: 30px;
}
#searchbar {
    background: rgba(255, 31, 77, 0.8);
    height: 71px;
    text-align: center;
    padding-top: 14px;
    box-shadow: 3px 3px 15px 2px #717171;
    z-index: 999999999;
    /*position: absolute;*/
}
.stick {
    z-index: 999999999;
    width: 100%;
    position:fixed;
    top:0px;
}
