{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<body onload="" style="min-width: 500px">
{% block header-text %}
    <h3>Complete Wedding Solution</h3>
    <p>Wedding Bazaar is your Celebration Partner</p>
{% endblock %}
{% block body %}


    <!-- Expanding cards -->


    <style scoped>
        .productbox {
            background-color: #ffffff;
            padding: 10px;
            margin-bottom: 10px;
            border-right: 1px solid #fdfdfd;
        }

        .producttitle {
            font-weight: bold;
            padding: 5px 0 5px 0;
        }

        .productprice {
            border-top: 1px solid #dadada;
            padding-top: 5px;
        }

        .pricetext {
            font-weight: bold;
            font-size: 1.4em;
        }
    </style>

    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="aligncenter"><h1 class="aligncenter">Features</h1></div>

                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row text-center">
            <a href="#" style="text-decoration:none;">
                <div class="col-md-3 col-sm-6 col-lg-offset-2  col-xs-12 productbox card">
                    <img src="{% static 'img/card13.png' %}" class="img-responsive">
                    <div class="producttitle"></div>
                    <div class="productprice">
                        <div class="producttitle">Search</div>
                        <p style="color:#222;">Look up on the go</p></div>
                </div>
            </a>
            <a href="#" style="text-decoration:none;">
                <div class="col-md-3 col-sm-6 col-xs-12 productbox card">
                    <img src="{% static 'img/card11.jpg' %}" class="img-responsive">
                    <div class="producttitle"></div>
                    <div class="productprice">
                        <div class="producttitle">Advanced Search</div>
                        <p style="color:#222;">Customized to your needs</p></div>
                </div>
            </a>

            <a href="#contactModal" role="button" data-toggle="modal" style="text-decoration:none;">
                <div class="col-md-3 col-sm-6 col-xs-12 column productbox card">
                    <img src="{% static 'img/card12.png' %}" class="img-responsive">
                    <div class="producttitle"></div>
                    <div class="productprice">
                        <div class="producttitle">Personalized Solution</div>
                        <p style="color:#222;">Free support from us</p></div>
                </div>
            </a>
            <script></script>
            <a href="#smallModal" role="button" data-toggle="modal" style="text-decoration:none;">
                <div class="col-md-3 col-sm-6 col-xs-12 column productbox card">
                    <img src="{% static 'img/card14.jpg' %}" class="img-responsive">
                    <div class="producttitle"></div>
                    <div class="productprice">
                        <div class="producttitle">Shop</div>
                        <p style="color:#222;">All your wedding needs</p></div>
                </div>
            </a>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="smallModal"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Coming Soon!</h3>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>


    <br><br>




    <div id="contactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">We'd Give You A Call</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal col-sm-12">
                        <div class="form-group"><label>Name</label><input class="form-control required"
                                                                          placeholder="Your name" data-placement="top"
                                                                          data-trigger="manual"
                                                                          data-content="Must be at least 3 characters long, and must only contain letters."
                                                                          type="text"></div>
                        <div class="form-group"><label>Message</label><textarea class="form-control"
                                                                                placeholder="Your message here.."
                                                                                data-placement="top"
                                                                                data-trigger="manual"></textarea></div>
                        <div class="form-group"><label>E-Mail</label><input class="form-control email"
                                                                            placeholder="email@you.com "
                                                                            data-placement="top" data-trigger="manual"
                                                                            data-content="Must be a valid e-mail address (user@gmail.com)"
                                                                            type="text"></div>
                        <div class="form-group"><label>Phone</label><input class="form-control phone"
                                                                           placeholder="999-999-9999 (so that we can contact you)"
                                                                           data-placement="top" data-trigger="manual"
                                                                           data-content="Must be a valid phone number (999-999-9999)"
                                                                           type="text"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success pull-right">Send It!</button>
                            <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not
                                valid. </p></div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


    <!--- category begin here -->


    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="aligncenter"><h3 class="aligncenter">Categories for all your needs</h3></div>

                </div>
            </div>
        </div>
    </section>

    <style scoped>
        .icondown {
            height: 70px;
            width: 70px;
        }

        .icondown:hover {
            position: relative;
            -webkit-transform: scale(1.6);
            -moz-transform: scale(1.6);
            -ms-transform: scale(1.6);
            -o-transform: scale(1.6);
            transform: scale(1.6);
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            z-index: 1000;
        }</style>

    <div class="container">
        <ul class="list-inline row">
            <li class="col-sm-4 ">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img class="icondown img-responsive" src="{% static 'img/categories/apperals.png' %}"
                             alt="Apparels">
                        <div>
                            <p class="aligncenter">Apparels</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img class="icondown img-responsive" src="{% static 'img/categories/pundit.jpg' %}"
                             alt="Astrologer">
                        <div>
                            <p class="aligncenter">Astro</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img class="icondown img-responsive" src="{% static 'img/categories/grooming.png' %}"
                             alt="grooming">
                        <div>
                            <p class="aligncenter">Grooming</p>
                        </div>

                    </div>
                </div>
            </li>
            <li class="col-sm-4">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img class="icondown img-responsive" src="{% static 'img/categories/event.png' %}" alt="events">
                        <div>
                            <p class="aligncenter">Events</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img class="icondown img-responsive" src="{% static 'img/categories/travel.png' %}"
                             alt="transport">
                        <div>
                            <p class="aligncenter">Transport</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img class="icondown img-responsive" src="{% static 'img/categories/venue.jpg' %}" alt="Venue">
                        <div>
                            <p class="aligncenter">Venues</p>
                        </div>

                    </div>

                </div>
            </li>
            <li class="col-sm-4">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img class="icondown img-responsive" src="{% static 'img/categories/music.png' %}" alt="Music">
                        <div>
                            <p class="aligncenter">Music/Band</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img class="icondown img-responsive" src="{% static 'img/categories/services.png' %}"
                             alt="Services">
                        <div>
                            <p class="aligncenter">Services</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img class="icondown img-responsive" src="{% static 'img/categories/agents.png' %}"
                             alt="agents">
                        <div>
                            <p class="aligncenter">Agents</p>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <hr class="margin-bottom-50">
    <!-- category end here -->

    <style scoped>

        @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);

        .thumbnail2 {
            position: relative;
            padding: 0px;
            margin-bottom: 20px;

        }

        .thumbnail2:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .carousel-caption {
            bottom: 15px;
        }

        .carousel-caption h3 {
            color: white;
        }

        .thumbnail2 img {
            width: 100%;
        }

    </style>

    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="aligncenter"><h3 class="aligncenter">Popular Cities</h3></div>

                </div>
            </div>
        </div>
    </section>
    <div class="container" style="padding:70px;" id="tourpackages-carousel">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail2">
                    <img src="{% static 'img/cities/delhi.jpg' %}" alt="">
                    <div class="carousel-caption">
                        <h3>DELHI/NCR</h3>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail2">
                    <img src="{% static 'img/cities/mumbai.jpg' %}" alt="">
                    <div class="carousel-caption">
                        <h3>MUMBAI</h3>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail2">
                    <img src="{% static 'img/cities/chandigarh.jpg' %}" alt="">
                    <div class="carousel-caption">
                        <h3>CHANDIGARH</h3>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail2">
                    <img src="{% static 'img/cities/bangalore.jpg' %}" alt="">
                    <div class="carousel-caption">
                        <h3>BANGALORE</h3>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail2">
                    <img src="{% static 'img/cities/kolkata.jpg' %}" alt="">
                    <div class="carousel-caption">
                        <h3>KOLKATA</h3>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail2">
                    <img src="{% static 'img/cities/hyderabad.jpg' %}" alt="">
                    <div class="carousel-caption">
                        <h3>HYDERABAD</h3>
                    </div>
                </div>
            </div>
        </div><!-- End row -->

    </div><!-- End container -->


    <hr class="margin-bottom-50">
    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="aligncenter"><h1 class="aligncenter">Other Services</h1>Are you worried about doing
                        arrangments for your wedding in little time? We know how painful it can be.
                        <br>You are at the right place, just begin with choosing a serive and we deliver to you best
                        solution from best vendors in town at your doorstep.
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section id="content">


        <div class="container">
            <div class="row">
                <div class="skill-home">
                    <div class="skill-home-solid clearfix">
                        <div class="col-md-3 text-center">
                            <a href="wedding-loan.html"><span class="icons "><img
                                    src="{% static 'img/icons/loan.png' %}"
                                    class="thumbnail2"/></span>
                                <div class="box-area">
                                    <h3>Wedding Loan</h3></div>
                            </a>
                            <p>Marriage is one of life's happiest occasions, we help you deal with all the expenses that
                                come with starting a new life together</p>
                        </div>

                        <div class="col-md-3 text-center">
                            <a href="marriage-registry.html"><span class="icons "><img
                                    src="{% static 'img/icons/registry.png' %}"
                                    class="thumbnail2"/></span>
                                <div class="box-area">
                                    <h3>Marriage Registry</h3></div>
                            </a>
                            <p>We ensure that most of the process of marriage registration is completed from the comfort
                                of
                                your home and without any hassles</p>
                        </div>

                        <div class="col-md-3 text-center">
                            <a href="#contactModal" role="button" data-toggle="modal"><span class="icons "><img
                                    src="{% static 'img/icons/custom.png' %}" class="thumbnail2"/></span>
                                <div class="box-area">
                                    <h3>Custom Solution</h3></div>
                            </a>
                            <p>We get you best possible solution for all your needs from best vendors in town within
                                your
                                budget, contact us for amazing offers</p>
                        </div>

                        <div class="col-md-3 text-center">
                            <a href="http://www.starstudioz.com"><span class="icons"><img
                                    src="{% static 'img/icons/new.png' %}"
                                    class="thumbnail2"/></span>
                                <div class="box-area">
                                    <h3>What's New?</h3></div>
                            </a>
                            <p>We have some exciting products with awesome new technologies to make your wedding day the
                                most
                                cherrished day of your life</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <hr class="margin-bottom-50">
    <!-- Why Us section starts -->


    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="aligncenter"><h1 class="aligncenter">Why choose us?</h1></div>

                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <!-- Info Blocks -->
        <div class="row">
            <div class="col-sm-4  info-blocks">
                <i class="icon-info-blocks fa fa-flag-o"></i>
                <div class="info-blocks-in">
                    <h3>Best Vendors</h3>
                    <p>We help you find the best vendors in town to make your wedding the most cherished event of your
                        life</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-hdd-o"></i>
                <div class="info-blocks-in">
                    <h3>Quick Response</h3>
                    <p>We offer you a personal follow up over phone, as soon as you register with us</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-thumbs-o-up"></i>
                <div class="info-blocks-in">
                    <h3>Great Listing</h3>
                    <p>We have a listing of hand picked vendors to make your wedding a memorable one for lifetime</p>
                </div>
            </div>

            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-calendar-check-o"></i>
                <div class="info-blocks-in">
                    <h3>Save Time</h3>
                    <p>You dont have to go around looking for people, on selected dates, we have everything here for
                        you</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-rupee"></i>
                <div class="info-blocks-in">
                    <h3>Save Money</h3>
                    <p>Clear pricing from local vendors around you to help you find the best serivce matching your
                        budge</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-send-o"></i>
                <div class="info-blocks-in">
                    <h3>Additional Services</h3>
                    <p>We offer amazing services, connect to know more</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Info Blcoks -->

    <hr class="margin-bottom-50">

    <!-- Testimonial Start -->
    <section class="testimonial-area">
        <div class="testimonial-solid">
            <div class="container">
                <div class="quote">
                    <i class="fa fa-quote-left fa-2x"></i>
                </div>
                <br>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="">
                            <a href="#"></a>
                        </li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                            <a href="#"></a>
                        </li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class="active">
                            <a href="#"></a>
                        </li>
                        <li data-target="#carousel-example-generic" data-slide-to="3" class="">
                            <a href="#"></a>
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item">
                            <p>Wedding Bazaar has made my daughter's wedding real memorable. Everybody was asking so
                                impressed with their innovative products that they will remember it for their lifetime.
                                Thanks & all the best...</p>
                            <p>
                                <b>- R.N. Singhal -</b>
                            </p>
                        </div>
                        <div class="item">
                            <p>Wedding Bazaar has made my daughter's wedding real memorable. Everybody was asking so
                                impressed with their innovative products that they will remember it for their lifetime.
                                Thanks & all the best...</p>
                            <p>
                                <b>- R.N. Singhal -</b>
                            </p>
                        </div>
                        <div class="item active">
                            <p>Wedding Bazaar has made my daughter's wedding real memorable. Everybody was asking so
                                impressed with their innovative products that they will remember it for their lifetime.
                                Thanks & all the best...</p>
                            <p>
                                <b>- R.N. Singhal -</b>
                            </p>
                        </div>
                        <div class="item">
                            <p>Wedding Bazaar has made my daughter's wedding real memorable. Everybody was asking so
                                impressed with their innovative products that they will remember it for their lifetime.
                                Thanks & all the best...</p>
                            <p>
                                <b>- R.N. Singhal -</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block header-style %}
{% endblock %}
</body>
</html>