<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords"
          content="delhi wedding vendors, photographers, caterers, vendor reviews, deals, wedding events, marriage function, shaadi, wedding planning tools, wedding website"/>
    <meta name="description"
          content=" Wedding Services  – Best vendors in City! Find and book services hassle free! Check Deals, Events, Ideas. Search Photos, Wedding Planners, Banquets, Venues &amp; more Wedding Services."/>
    <meta name="robots" content="index,follow"/>
    <!-- css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/indexstyle.css' %}">
    <link href="{% static 'css/login-register.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <script src="{% static 'js/login-register.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/search.js' %}" type="text/javascript"></script>

    {% block extra_head %}
    {% endblock %}
</head>
<body>
<div id="wrapper" class="home-page">

    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home:index' %}"><img src="{% static 'img/logo.png' %}"
                                                                               alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">

                        <li class="navhover "><a href="wishlist.html" title="Wedding Checklist"><i
                                class="fa fa-heart fa-2x " style=" padding-top:4px;"><span class="badge"
                                                                                           style="background-color: #E91E63"></span></i></a>
                        </li>

                        <li class="active"><a href="{% url 'home:index' %}">Home</a></li>
                        {% if not request.user.is_authenticated %}
                            <li class="navhover"><a id="loginbtn" data-toggle="modal" href="javascript:void(0)"
                                                    onclick="openLoginModal()" style="">Log In</a></li>
                        {% else %}
                            <li class="navhover">
                                <form method="post" action="{% url 'account_logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link">Log Out</button>
                                </form>
                            </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Login with</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div class="social">
                                <a id="facebook_login" class="circle facebook" href="#">
                                    <i class="fa fa-facebook fa-fw"></i>
                                </a>

                                <a id="google_login" class="circle google" href="">
                                    <i class="fa fa-google-plus fa-fw"></i>
                                </a>
                            </div>
                            <div class="division">
                                <div class="line l"></div>
                                <span>or</span>
                                <div class="line r"></div>
                            </div>
                            <div class="error"></div>
                            <div class="form loginBox">
                                <form method="POST" action="{% url 'account_login' %}"
                                      accept-charset="UTF-8">{% csrf_token %}
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}"
                                               value="{{ redirect_field_value }}"/>
                                    {% endif %}
                                    <input class="form-control" autofocus="autofocus" id="id_login" maxlength="150"
                                           name="login" placeholder="Username" type="text" required="">
                                    <input class="form-control" id="id_password" name="password" placeholder="Password"
                                           type="password" required="">
                                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot
                                        Password?</a>
                                    <button class="primaryAction btn btn-default btn-login" type="submit">Sign In
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                            <div class="form">
                                <form id="snform" method="post" html="{:multipart=>true}" data-remote="true"
                                      action="/register" accept-charset="UTF-8">
                                    <input id="snemail" class="form-control" type="text" placeholder="Email"
                                           name="email">
                                    <input id="snpassword" class="form-control" type="password" placeholder="Password"
                                           name="password">
                                    <input id="password_confirmation" class="form-control" type="password"
                                           placeholder="Repeat Password" name="password_confirmation">
                                    <input class="btn btn-default btn-register" type="submit" value="Create account"
                                           name="commit" href="#" onclick=" signup();return false;">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
                            <span>
                                 <a href="javascript: showRegisterForm();">Create an account</a>?
								<a href="javascript: forgotpass();">Forgot Password</a>?
							</span>
                    </div>
                    <div class="forgot register-footer" style="display:none">
                        <span>Already have an account?</span>
                        <a href="javascript: showLoginForm();">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->


    <section id="banner">

        <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
                <li>
                    <div class="image" style="background-image: url('{% static 'img/slides/2.jpg' %}')">
                        {#                        <img src="{% static 'img/slides/1.jpg' %}" alt=""/>#}
                        <div class="flex-caption">
                            {% block header-text %}
                            {% endblock %}
                            <form method="GET" action="{% url 'searchapp:search' city='none' category='none' %}"
                                  class="form-inline row input-group" id="search">
                                <select class="form-control " id="place" style="" name="city" title="City" required=""
                                        onchange="urlcode()">
                                    <option selected="selected" disabled value="none">Choose a City...</option>
                                    <!--<option value="noida">Noida</option>-->
                                    <option value="delhi">Delhi/NCR</option>
                                    <option value="delhi" disabled>Coming Soon...</option>
                                </select>

                                {% csrf_token %}

                                <select class="form-control " id="category" style="" onchange="subcat();urlcode();"
                                        title="Category" name="category" required="">
                                    <option selected="selected" disabled value="none">Choose a category</option>
                                    <option value="apparel">Apparels & Clothing</option>
                                    <option value="astro">Astro/Pundit</option>
                                    <option value="grooming">Beauty & Grooming</option>
                                    <option value="travel">Travel/Transportation</option>
                                    <option value="events">Events</option>
                                    <option value="music">Music & Entertainment</option>
                                    <option value="venue">Venues</option>
                                    <option value="services">Services</option>
                                    <option value="agent">Wedding Agents</option>
                                </select>

                                <select class="form-control " id="ms" style="" name="subcateg" title="Sub-Category"
                                        required="" onchange="urlcode()">
                                    <option selected="selected" disabled value="none">Choose a category first.</option>
                                </select>
                                <span class="input-group-btn " id="inputbutton">
                                    <button type="submit" class="btn btn-primary"
                                            id="butn">Find Vendors!</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </li>

            </ul>
        </div>


        <!-- end carousel -->

    </section>
    {% block body %}


        {% if messages %}
            <div>
                <strong>Messages:</strong>
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div>
            <strong>Menu:</strong>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Sign In</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    <!-- FOOTER BEGINS HERE -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="widget">
                        <h5 class="widgetheading">Company</h5>
                        <ul class="link-list">
                            <li><a href="">About Us</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="#contactModal" role="button" data-toggle="modal">Feedback</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget">
                        <h5 class="widgetheading">Quick Links</h5>
                        <ul class="link-list">
                            <li><a href="#">Latest Events</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy policy</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="widget">
                        <h5 class="widgetheading">Our Contact</h5>
                        <address>
                            <strong>Wedding Bazaar</strong><br>
                            R-1/88, RDC, Raj Nagar,<br>
                            Ghaziabad
                        </address>
                        <p>
                            <i class="icon-phone"></i> (+91) 9910-386-387<br>
                            <i class="icon-envelope-alt"></i> hello@weddingbazaar.in
                        </p>
                    </div>
                </div>


            </div>
        </div>
        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright">
                            <p>
                                <span>&copy; weddingbazaar.in | 2015 All right reserved | </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="social-network">
                            <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li><a href="#" data-placement="top" title="Google plus"><i
                                    class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
<script src="{% static 'js/portfolio/setting.js' %}"></script>
<script src="{% static 'js/jquery.flexslider.js' %}"></script>
<script src="{% static 'js/animate.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- <script src="js/owl-carousel/owl.carousel.js"></script> -->
<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    });
    $('button').addClass('btn btn-primary');
    $('form').addClass('form-group');
    {#    $('body').addClass('container-fluid');#}
    $('form').css('text-align', 'center');
</script>
{% block header-style %}
    <style>
        .image {
            height: 300px;
        }

        #search {
            padding: 0;
        }
    </style>
{% endblock %}
</body>
</html>
